:root {
  --main-theme: #1A2227;
  --sub-theme: #36454F;
  --con-theme: #4F5D67;
  --text-pure: #F0F0F0;
  --text-white: #F5F5F5;
  --text-soft: #F0F8FF;
  --text-blue: #4169E1
  --warning: #FFB84D;
  --danger: #E63946;
  --btn-acc: #4169E1;
  --btn-acc-hv: #3152B1;
}


