/* 1. 컨테이너 */
.credit {
  width: 100%;
  min-height: 220px;
  gap: 0; 
  margin: 10px auto;
  padding: 30px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
/* 1. */

/* 2. 크레딧 */
.credit-item {
  position: relative;
  flex: 1;
  gap: 12px;
  padding: 10px 20px;
  align-items: center;
}

.credit-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.cr-title {
  font-size: 1rem;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.2);
  padding: 4px 14px;
  border-radius: 20px;
}

.cr-values {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.cr-current {
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 1;
}

.cr-slash, .cr-total {
  font-size: 1.2rem;
  opacity: 0.6;
  margin-left: 4px;
}

.cr-percent {
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.8;
}
/* 2. */


/* 3. 프로그레스 바 */
.cr-prog-bg {
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  overflow: hidden;
}

.cr-prog-fill {
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* 3. */